@page "/"

<PageTitle>Index</PageTitle>
<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name!</h1>

    </Authorized>
    <NotAuthorized>
        <h1>Hello, world!</h1>

    </NotAuthorized>
</AuthorizeView>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@*@inherits ProductBase


@if (Product == null)
{
   <DisplaySpinner></DisplaySpinner>
}
else
{
    <h3 class="mb-5">Products</h3>
    var productCount = Product.Count();
    @if (productCount>0)
    {
       @foreach(var prodGroup in GetGroupedProductsByCategory())
        {
            <h3>@GetCategoryName(prodGroup)</h3>
         
            <div class="row mt-3">

                <DisplayProducts Products="@prodGroup"></DisplayProducts>
                
            </div>
            <hr class="mb-3"/>
        }
    }
    else
    {
        <p>No products available.</p>
    }
}
   *@